

body{
    background-image: url("../images/appetizers/capresesald.jpg");
    
}

body img{
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    border: solid black 5px;
}
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.images:focus{
  border-color: tomato;
}
.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 5px solid black;
    padding: 30px;
    margin: 5px;
    font-size: large;
  }

  @media screen and (min-width:750px) {
    body{
        background-image: url("../images/appetizers/capresesald.jpg");
    }
    
    body img{
      width: 400px;
      align-items: center;
      justify-content: center;
      width: 48.3%;
      border: solid red 5px;
       
    }
    .gallery{
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px;
    }
  }
  @media screen and (min-width:900px) {
    body{
        background-image: url("../images/appetizers/capresesald.jpg");
    }

    body img{
        width: 400px;
        align-items: center;
        justify-content: center;
        width: 31.9%;
        border: solid snow 5px;
    }
    .gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-basis: 300px;
    }
  }

 




 