body img{
    width: 400px;
    height: 400px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
body{
    background-image: linear-gradient( white,rgb(255, 195, 195));
}