html{
    scroll-behavior: smooth;
}

nav li{
    display:inline;
    padding-right:20px;
  
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
}

.active a{
    color: red;
    border: dashed black 2px;
}

body{
    background-image: url("../images/appetizers/capresesald.jpg");
    
}

body h1{
    border: double maroon 5px;
    text-align: center;
    font-size: 30px;
    color: maroon;
    background-color: rgb(236, 163, 163);
    padding: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

main h2{
    font-size: 20px;
    margin: 10px;
    text-decoration: underline;
}
main p{
    margin: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

body img{
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 5px solid black;
    padding: 30px;
    margin: 5px;
    font-size: large;
  }

  @media screen and (min-width:900px) {
    body{
        background-image: url("../images/appetizers/capresesald.jpg");
    }
    body img{
        width: 300px;
        align-items: center;
        justify-content: center;
        
    }
    .img{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      flex-basis: 300px;
      width: 50%;
    }
  }
  @media screen and (min-width:1378px) {
    body{
        background-image: url("../images/appetizers/capresesald.jpg");
    }
    body img{
        width: 400px;
        align-items: center;
        justify-content: center;
        width: 33.14%;
    }
    .img{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-basis: 300px;
    }
  }

 