html{
    scroll-behavior: smooth;
}

nav li{
    display:inline;
    padding-right:20px;
  
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
}

.active a{
    color: red;
    border: dashed black 2px;
}

body{
    background-color: white;
}

body h1{
    border: solid grey 3px;
    text-align: center;
    font-size: 30px;
    color: rgb(84, 84, 84);
    padding: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

main h2{
    font-size: 20px;
    margin: 10px;
    text-decoration: underline;
}
main p{
    margin: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

body img{
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    width: 33.14%;
}
.img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  
  


 