.skip {
    position: absolute;
    top: -100px;
}

nav li{
    display:inline;
    padding-right:20px;
  
}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none; 
}

nav{
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(255, 255, 255));;
    padding: 25px 0; 
    text-align: center;
}

.active a{
    color: rgb(236, 163, 163);
    border: dashed white 2px;
}

body{
    background-color: white;
}

body h1{
    border: double maroon 5px;
    text-align: center;
    font-size: 30px;
    color: maroon;
    background-color: rgb(236, 163, 163);
    padding: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

main h2{
    font-size: 20px;
    margin: 10px;
    text-decoration: underline;
}
main p{
    margin: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: large;
}

@media screen and (min-width:750px) {
    nav{
        text-align: left;
        padding: 25px 0px 25px 10px; 
    }
    nav a{
        color: white;
    }
    .active a{
        color: rgb(236, 163, 163);
        border: dashed white 2px;
    }
}
@media screen and (min-width:900px) {
    nav{
        text-align: right;
        padding: 25px 0px 25px 10px; 
    }
    nav a{
        color: black;
    }
    .active a{
        color: maroon;
        border: dashed black 2px;
    }
}